<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            font-family: 'Arial';
            background-color: #ececec;
        }
        ul{
            list-style-type:none;
            padding: 20px;
        }
        li{
            padding: 20px;
            background-color: white;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <ul id="output">

    </ul>
    <div class="root"></div>
</body>
</html>